.scanner-container {
  position: absolute;
  top: 30px; /* Adjust this to move it down */
  left: 50%;
  transform: translateX(-50%); /* Center it horizontally */
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  
  border-radius: 8px;
  z-index: 1000; /* Ensure it's above other content */
  }
  
  .flag-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    animation: fade-in-out 2s ease-in-out;
  }
  
  .flag {
    color: white;
  }
  
  .GREEN {
    background-color: #28a745;
  }
  
  .YELLOW {
    background-color: #ffc107;
    color: #333;
  }
  
  .RED {
    background-color: #dc3545;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    10% {
      opacity: 0.9;
      transform: translate(-50%, -50%);
    }
    90% {
      opacity: 0.9;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
  }
  
 
  
  .dashboard-card {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
  }
  
  