<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Members
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div> <a routerLink="/members/list"><mat-icon>groups</mat-icon><span>Members</span></a></div>
      <!-- <div> <a routerLink="members/new"><mat-icon>group_add</mat-icon><span>New family</span></a></div> -->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Meeting
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div> <a routerLink="/meetings/list"> <mat-icon>calendar_today</mat-icon><span>Meetings</span></a></div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Miscellaneous
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div> <a routerLink="/miscellaneous/list"><mat-icon>settings</mat-icon><span>Miscellaneous</span></a></div>
      <div> <a routerLink="/miscellaneous/uploadPaymentList"><mat-icon>upload_file</mat-icon><span>Upload Payment List</span></a></div>
      <!-- <div> <a class="disabled-link" routerLink="miscellaneous/new"> <mat-icon>note_add</mat-icon><span>New vendor</span></a></div> -->
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>


