<div class="grid-container">
  <mat-grid-list cols="1" rows="3" rowHeight="4:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Search Meeting
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form class="example-form">
            <table class="searchCriteria">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Meeting Title" value="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Meeting Phone" value="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Date" value="">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="leftAlign">
                  <div class="saveCancel-button-row">
                    <button mat-stroked-button color="primary">search</button>
                    <button mat-stroked-button color="warn">reset</button>
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Meeting results
          </mat-card-title>
        </mat-card-header>
       <app-meeting-data-table></app-meeting-data-table>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

