<div class="grid-container">
  <mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="mat-elevation-z0 dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Payment Type detail info
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form [formGroup]="paymentTypeForm">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Payment Type Name" formControlName="name">
              <mat-error *ngIf="f['name'].touched && f['name'].invalid">
                {{getErrorMessage('name')}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Payment Type Description" formControlName="description">
              <mat-error *ngIf="f['description'].touched && f['description'].invalid">
                {{getErrorMessage('description')}}
              </mat-error>
            </mat-form-field>
          </form>
          <div class="saveCancel-button-row">
            <button mat-raised-button color="primary" (click)="save()" [disabled]="paymentTypeForm.invalid">Save</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
